{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "babel",
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/sort-comp": [
      "warn",
      {
        "order": [
          "constructor",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ]
  }
}
